/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
html, body {
    font-family: "Open Sans", sans-serif;
    color: #222;
} 

h1, h2, h3 {
    margin-bottom: 20px;
}

a {
    color:#222;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

.separator {
    margin: 20px auto;
    height: 2px;
    width: 600px;
    background: #333;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
}

.btn-primary {
    background: #fff;
    color: #222;
}

.btn-primary:hover {
    background: #ffce00;
    color: #fff;
}

.container {
    display: block;
    margin: auto;
    width: 1000px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-bottom: 20px;
}

/* header */

.header {
    background: #333;
    overflow: auto;
    line-height: 1.7em;

    nav{
        & h1 {
            float: left;
            padding: 20px;
            margin-bottom: 0px;

            & a {
                color: #fff;
            }
        }

        & ul {
            float: right;
            list-style: none;

            & li {
                float: left;

                & a{
                    color: #fff;
                    padding: 20px;
                    display: block;
                }

                & a:hover {
                    background: #ffce00;
                }
            }
        }
    }
}

.active {
    background: #444;
}

.vp {
    height: 700px;
    background: url(../img/cafe1.jpg) center center;
    background-size: cover;
    text-align: center;
}

.vp-content {
    max-width: 600px;
    padding-top: 150px;
    color: #fff;
    display: block;
    margin: auto;

    & h1 {
        font-size: 50px;
        color: #ffce00;
    }

    & p {
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 1.9em;
    }
}

/* Features */

.features {
    overflow: auto;
    padding: 100px 0px;
    text-align: center;

    & i {
        color: #ffce00;
    }
}

.feature {
    float: left;
    width: 50%;
    padding: 0 20px;
}