/* header */

.header {
    nav {
        & h1 {
            float: none;
            text-align: center;
        }

        & ul {
            float: none;

            & li {
                float: none;

                & a {
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
}

.vp-content {
    padding-top: 50px;

    & h1 {
        color: #fff;
        font-size: 2rem;
    }
}

.separator {
    width: 200px;
}

.features {

    & .container {
        display: inline-block;
        float: none;
        width: 100%;
        margin-bottom: 2rem;

    }
        & .feature:first-child {
        padding-bottom: 2rem;
    }
}

.container {
    width: 100%;
}

.reservation {
    padding: 0 2rem;
    margin-top: 2rem;
}

/* where */

.where {
    padding: 80px 20px;
}

.where-img {
    float: none;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 40px;
}

.where-text {
    float: rignoneht;
    width: 100%;
}

/* contact */

.contact {
    text-align: center;
    padding: 50px 0;
}

.contact-form-container {
    max-width: 600px;
    margin: auto;
}